{% extends 'layout/_default.html.twig' %}

{% block title %}Admin{% endblock %}

{% block main %}
    <h2>Bonjour {{ app.user.pseudo }}</h2>

    {% if users %}
        {% if(users | length > 0) %}
            <p>
                <strong>Vous avez {{ users | length }} utilisateur(s)</strong>
            </p>

            <ul>
                {% for user in users %}
                    <li><strong>[{{ user.roles[0] }}]</strong> {{ user.pseudo }} / {{ user.useralbums | length }} album(s)</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
